<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/872086cd-5049-4f79-92a2-8c56a20c3516/resourcegroups/CodersFootprintResourceGroup/providers/Microsoft.Web/sites/CodersFootprintApp</ResourceId>
    <ResourceGroup>CodersFootprintResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://codersfootprintapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>codersfootprintapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CodersFootprintApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CodersFootprintApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DB" Order="1" Enabled="False">
          <Destination Path="Data Source=436889f6-579d-49e1-8e6b-a8b8011be85c.sqlserver.sequelizer.com;Initial Catalog=db436889f6579d49e18e6ba8b8011be85c;User ID=kykkashvgiukgcly;Password=VneNmsv5VdtjkvYp4qVJMdyJkzbc2MKmzvdStZfgKBK6whN2BFC7tZtRWCCTrsci" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=436889f6-579d-49e1-8e6b-a8b8011be85c.sqlserver.sequelizer.com;Initial Catalog=db436889f6579d49e18e6ba8b8011be85c;User ID=kykkashvgiukgcly;Password=VneNmsv5VdtjkvYp4qVJMdyJkzbc2MKmzvdStZfgKBK6whN2BFC7tZtRWCCTrsci" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=436889f6-579d-49e1-8e6b-a8b8011be85c.sqlserver.sequelizer.com;Database=db436889f6579d49e18e6ba8b8011be85c;User ID=kykkashvgiukgcly;Password=VneNmsv5VdtjkvYp4qVJMdyJkzbc2MKmzvdStZfgKBK6whN2BFC7tZtRWCCTrsci;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DB-Web.config Connection String">
      <ParameterValue>Data Source=436889f6-579d-49e1-8e6b-a8b8011be85c.sqlserver.sequelizer.com;Initial Catalog=db436889f6579d49e18e6ba8b8011be85c;User ID=kykkashvgiukgcly;Password=VneNmsv5VdtjkvYp4qVJMdyJkzbc2MKmzvdStZfgKBK6whN2BFC7tZtRWCCTrsci</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>